<mat-drawer-container class="example-container">
  
  <mat-drawer #drawer [opened]="false">
      <app-mini-profile></app-mini-profile>
      <app-router-links></app-router-links>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar *ngIf="isUserLogged" color="primary">
      <mat-toolbar-row> 
        <button mat-button (click)="drawer.toggle()">
          <mat-icon svgIcon="hamburger-menu"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- insert here the router-->
    <router-outlet></router-outlet>
    <!-- end of router -->

  </mat-drawer-content>
</mat-drawer-container>
